<%- include('partials/_head.ejs') %>
<%- include('partials/leftsidebar.ejs') %>
<%- include('partials/_header.ejs') %>

<!-- CONTENT WRAPPER -->
<div class="ec-content-wrapper">
    <div class="content">
        <!-- Top Statistics -->
        <div class="row">
            <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                <div class="card card-mini dash-card card-1">
                    <div class="card-body">
                        <h2 class="mb-1"><%= userCount %> </h2>
                        <p>Monthly Signups</p>
                        <span class="mdi mdi-account-arrow-left"></span>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                <div class="card card-mini dash-card card-3">
                    <div class="card-body">
                        <h2 class="mb-1"><%= orderCount %> </h2>
                        <p>Monthly Order</p>
                        <span class="mdi mdi-package-variant"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                <div class="card card-mini dash-card card-4">
                    <div class="card-body">
                        <h2 class="mb-1"><%= totalRevenue %> </h2>
                        <p>Monthly Revenue</p>
                        <span class="mdi mdi-currency-inr"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-md-12 p-b-15">
                <!-- Sales Graph -->
                <div id="user-acquisition" class="card card-default">
                    <div class="card-header">
                        <h2>Revenue Report</h2>&nbsp; <p>(Last Week)</p>
                    </div>
                    <div class="card-body">
                        <!-- <ul class="nav nav-tabs nav-style-border justify-content-between justify-content-lg-start border-bottom"
                            role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#todays" role="tab"
                                    aria-selected="true">Today's</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#monthly" role="tab"
                                    aria-selected="false">Monthly </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#yearly" role="tab"
                                    aria-selected="false">Yearly</a>
                            </li>
                        </ul> -->
                        <div class="tab-content pt-4" id="salesReport">
                            <div class="tab-pane fade show active" id="source-medium" role="tabpanel">
                                <div class="mb-6" style="max-height:247px">
                                    <canvas id="area-chart" class="chartjs2"></canvas>
                                    <div id="acqLegend" class="customLegend mb-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-12 p-b-15">
                <!-- Doughnut Chart -->
                <div class="card card-default">
                    <div class="card-header justify-content-center">
                        <h2>Orders Overview</h2>
                    </div>
                    <div class="card-body">
                        <canvas id="doChart"></canvas>
                    </div>
                    <a href="#" class="pb-5 d-block text-center text-muted"><i
                            class="mdi mdi-download mr-2"></i> Download overall report</a>
                    <!-- <div class="card-footer d-flex flex-wrap bg-white p-0">
                        <div class="col-6">
                            <div class="p-20">
                                <ul class="d-flex flex-column justify-content-between">
                                    <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                            style="color: #4c84ff"></i>Order Completed</li>
                                    <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                            style="color: #80e1c1 "></i>Order Unpaid</li>
                                    <li><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                            style="color: #ff7b7b "></i>Order returned</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 border-left">
                            <div class="p-20">
                                <ul class="d-flex flex-column justify-content-between">
                                    <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                            style="color: #8061ef"></i>Order Pending</li>
                                    <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                            style="color: #ffa128"></i>Order Canceled</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        

        <div class="row">
            <div class="col-12 p-b-15">
                <!-- Recent Order Table -->
                <div class="card card-table-border-none card-default recent-orders" id="recent-orders">
                    <div class="card-header justify-content-between">
                        <h2>Recent Orders</h2>
                        <!-- <div class="date-range-report">
                            <span></span>
                        </div> -->
                    </div>
                    <div class="card-body pt-0 pb-5">
                        <table class="table card-table table-responsive table-responsive-large"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>User Name</th>
                                    <th class="d-none d-lg-table-cell">No.of Products</th>
                                    <th class="d-none d-lg-table-cell">Order Date</th>
                                    <th class="d-none d-lg-table-cell">Payment</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let orders=totalOrders.slice(0,5) %> 
                                <% orders.forEach(e => { %>
                                 
                                
                                <tr>
                                    <td><%= e._id %></td>
                                    <td>
                                        <a class="text-dark" href=""><strong><%= e.userDetails[0].name %> </strong></a>
                                    </td>
                                    <td class="d-none d-lg-table-cell"><%= e.products.length %> </td>
                                    <% let date=e.purchaseDate.toString() %> 
                                    <td class="d-none d-lg-table-cell"><%= date.slice(0,21) %> </td>
                                    <td><strong><%= e.paymentMethod=='Cash On Delivery'?'Cash On Delivery':'Paid' %></strong><br>
                                        ₹ <%= e.total %>  
                                    </td>
                                    <td>
                                        <span class="badge badge-success"><%= e.status %> </span>
                                    </td>
                                    <!-- <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href=""
                                                role="button" id="dropdown-recent-order1"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="#">View</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td> -->
                                </tr>
                                <% }) %>
                                <!-- <tr>
                                    <td>24541</td>
                                    <td>
                                        <a class="text-dark" href=""> Toddler Shoes, Gucci Watch</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">2 Units</td>
                                    <td class="d-none d-lg-table-cell">Nov 15, 2018</td>
                                    <td class="d-none d-lg-table-cell">$550</td>
                                    <td>
                                        <span class="badge badge-primary">Delayed</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                                role="button" id="dropdown-recent-order2"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="#">View</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>24541</td>
                                    <td>
                                        <a class="text-dark" href=""> Hat Black Suits</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">1 Unit</td>
                                    <td class="d-none d-lg-table-cell">Nov 18, 2018</td>
                                    <td class="d-none d-lg-table-cell">$325</td>
                                    <td>
                                        <span class="badge badge-warning">On Hold</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                                role="button" id="dropdown-recent-order3"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="#">View</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>24541</td>
                                    <td>
                                        <a class="text-dark" href=""> Backpack Gents, Swimming Cap Slin</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">5 Units</td>
                                    <td class="d-none d-lg-table-cell">Dec 13, 2018</td>
                                    <td class="d-none d-lg-table-cell">$200</td>
                                    <td>
                                        <span class="badge badge-success">Completed</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                                role="button" id="dropdown-recent-order4"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="#">View</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>24541</td>
                                    <td>
                                        <a class="text-dark" href=""> Speed 500 Ignite</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">1 Unit</td>
                                    <td class="d-none d-lg-table-cell">Dec 23, 2018</td>
                                    <td class="d-none d-lg-table-cell">$150</td>
                                    <td>
                                        <span class="badge badge-danger">Cancelled</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                                role="button" id="dropdown-recent-order5"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="#">View</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-5">
                <!-- New Customers -->
                <div class="card ec-cust-card card-table-border-none card-default">
                    <div class="card-header justify-content-between ">
                        <h2>Best Customers</h2>
                        
                    </div>
                    <div class="card-body pt-0 pb-15px">
                        <table class="table ">
                            <tbody>
                                <% userOrders.forEach(e => { %>
                                 
                                
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-image mr-3 rounded-circle">
                                                <a href=""><img
                                                        class="profile-img rounded-circle w-45"
                                                        src="assets/img/user/u1.jpg"
                                                        alt="customer image"></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="">
                                                    <h6 class="mt-0 text-dark font-weight-medium"><%= e.name %> </h6>
                                                </a>
                                                <small><%= e.email %> </small>
                                            </div>
                                        </div>
                                    </td>
                                    <td><%= e.totalOrders %>  Orders</td>
                                    <td class="text-dark d-none d-md-block">₹ <%= e.totalPrice %> </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xl-7">
                <!-- Top Products -->
                <div class="card card-default ec-card-top-prod">
                    <div class="card-header justify-content-between">
                        <h2>Top 3 Products</h2>
                        
                    </div>
                    <div class="card-body mt-10px mb-10px py-0">
                        <% topProducts.forEach(e => { %>
                         
                        <div class="row media d-flex pt-15px pb-15px">
                            <div
                                class="col-lg-3 col-md-3 col-2 media-image align-self-center rounded">
                                <a href=""><img src="/productimages/<%= e.thumbnail %>" alt="customer image"></a>
                            </div>
                            <div class="col-lg-9 col-md-9 col-10 media-body align-self-center ec-pos">
                                <a href="#">
                                    <h6 class="mb-10px text-dark font-weight-medium"><%= e.title %> </h6>
                                </a>
                                <p class="float-md-right sale"><span class="mr-2"><%= e.sold %> </span>Sales</p>
                                <p class="d-none d-md-block"><%= e.shortdescription %> </p>
                                <p class="mb-0 ec-price">
                                    <span class="text-dark">₹ <%= e.price %> </span>
                                    
                                </p>
                            </div>
                        </div>
                        <% }) %>

                        <!-- <div class="row media d-flex pt-15px pb-15px">
                            <div
                                class="col-lg-3 col-md-3 col-2 media-image align-self-center rounded">
                                <a href="#"><img src="assets/img/products/p2.jpg" alt="customer image"></a>
                            </div>
                            <div class="col-lg-9 col-md-9 col-10 media-body align-self-center ec-pos">
                                <a href="#">
                                    <h6 class="mb-10px text-dark font-weight-medium">Hoodies for men</h6>
                                </a>
                                <p class="float-md-right sale"><span class="mr-2">20</span>Sales</p>
                                <p class="d-none d-md-block">Statement belting with double-turnlock hardware
                                    adds “swagger” to a simple.</p>
                                <p class="mb-0 ec-price">
                                    <span class="text-dark">$250</span>
                                    <del>$300</del>
                                </p>
                            </div>
                        </div>
                        <div class="row media d-flex pt-15px pb-15px">
                            <div
                                class="col-lg-3 col-md-3 col-2 media-image align-self-center rounded">
                                <a href="#"><img src="assets/img/products/p3.jpg" alt="customer image"></a>
                            </div>
                            <div class="col-lg-9 col-md-9 col-10 media-body align-self-center ec-pos">
                                <a href="#">
                                    <h6 class="mb-10px text-dark font-weight-medium">Long slive t-shirt</h6>
                                </a>
                                <p class="float-md-right sale"><span class="mr-2">10</span>Sales</p>
                                <p class="d-none d-md-block">Statement belting with double-turnlock hardware
                                    adds “swagger” to a simple.</p>
                                <p class="mb-0 ec-price">
                                    <span class="text-dark">$480</span>
                                    <del>$654</del>
                                </p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Content -->
</div> <!-- End Content Wrapper -->
<script>
    const statusCount='<%= statusCount %>'
    const statusName='<%= statusName %>'
    const revenueDate='<%= revenueDate %>'.replace(/&#34;/gi, "'")
    const Revenue='<%= revenueTotal %>'.replace(/&#34;/gi, "'")
    const nOrders='<%= noOfOrders %>'.replace(/&#34;/gi, "'")
    const statName=statusName.replace(/&#34;/gi, "'")
    const statCount=statusCount.replace(/&#34;/gi, "'")
</script>

<%- include('partials/foot.ejs') %>
