<%- include('partials/_head.ejs') %>
  <%- include('partials/leftsidebar.ejs') %>
    <%- include('partials/_header.ejs') %>

      <div class="ec-content-wrapper">
        <div class="content">
          <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
            <div>
              <h1>Add Product</h1>
              <p class="breadcrumbs">
                <span><a href="/admin">Home</a></span>
                <span><i class="mdi mdi-chevron-right"></i></span>Product
              </p>
            </div>
            <div>
              <a href="/admin/products" class="btn btn-primary"> View All </a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card card-default">
                <div class="card-header card-header-border-bottom">
                  <h2>Add Product</h2>
                </div>

                <div class="card-body">
                  <form class="row g-3" action="/admin/editproduct?id=<%= product._id %>" method="post"
                    enctype="multipart/form-data">
                    <div class="row ec-vendor-uploads">
                      <div class="col-lg-4">
                        <div class="ec-vendor-img-upload">
                          <div class="ec-vendor-main-img">
                            <div class="avatar-upload">
                              <div class="avatar-edit">
                                <input type="file" id="imageUpload" class="ec-image-upload" accept=".png, .jpg, .jpeg"
                                  name="thumbnail" value="/productimages/<%= product.thumbnail ? product.thumbnail:'' %>" />
                                <label for="imageUpload"><img src="/assets/img/icons/edit.svg"
                                    class="svg_img header_svg" alt="edit" /></label>
                              </div>
                              <div class="avatar-preview ec-preview">
                                <div class="imagePreview ec-div-preview">
                                  <img class="ec-image-preview" src="/productimages/<%= product.thumbnail %>"
                                    alt="edit" />
                                </div>
                              </div>
                            </div>

                            <div class="thumb-upload-set colo-md-12">

                              <div class="thumb-upload">
                                <div class="thumb-edit">
                                  <input type="file" id="thumbUpload01" class="ec-image-upload"
                                    accept=".png, .jpg, .jpeg" name="images"
                                    value="<%= product.images[0]?`/productimages/${product.images[0]}`:'' %>" />
                                  <label for="imageUpload"><img src="/assets/img/icons/edit.svg"
                                      class="svg_img header_svg" alt="edit" /></label>
                                </div>
                                <div class="thumb-preview ec-preview">
                                  <div class="image-thumb-preview">
                                    <img class="image-thumb-preview ec-image-preview"
                                      src="/assets/img/products/vender-upload-thumb-preview.jpg" alt="edit" />
                                  </div>
                                </div>
                              </div>

                              <div class="thumb-upload">
                                <div class="thumb-edit">
                                  <input type="file" id="thumbUpload02" class="ec-image-upload"
                                    accept=".png, .jpg, .jpeg" name="images"
                                    value="<%= product.images[1]?`/productimages/${product.images[1]}`:'' %>" />
                                  <label for="imageUpload"><img src="/assets/img/icons/edit.svg"
                                      class="svg_img header_svg" alt="edit" /></label>
                                </div>
                                <div class="thumb-preview ec-preview">
                                  <div class="image-thumb-preview">
                                    <img class="image-thumb-preview ec-image-preview"
                                      src="/assets/img/products/vender-upload-thumb-preview.jpg" alt="edit" />
                                  </div>
                                </div>
                              </div>

                              <div class="thumb-upload">
                                <div class="thumb-edit">
                                  <input type="file" id="thumbUpload03" class="ec-image-upload"
                                    accept=".png, .jpg, .jpeg" name="images"
                                    value="<%= product.images[2]?`/productimages/${product.images[2]}`:'' %>" />
                                  <label for="imageUpload"><img src="/assets/img/icons/edit.svg"
                                      class="svg_img header_svg" alt="edit" /></label>
                                </div>
                                <div class="thumb-preview ec-preview">
                                  <div class="image-thumb-preview">
                                    <img class="image-thumb-preview ec-image-preview"
                                      src="/assets/img/products/vender-upload-thumb-preview.jpg" alt="edit" />
                                  </div>
                                </div>
                              </div>

                              <div class="thumb-upload">
                                <div class="thumb-edit">
                                  <input type="file" id="thumbUpload04" class="ec-image-upload"
                                    accept=".png, .jpg, .jpeg" name="images"
                                    value="<%= product.images[3]?`/productimages/${product.images[3]}`:'' %>" />
                                  <label for="imageUpload"><img src="/assets/img/icons/edit.svg"
                                      class="svg_img header_svg" alt="edit" /></label>
                                </div>
                                <div class="thumb-preview ec-preview">
                                  <div class="image-thumb-preview">
                                    <img class="image-thumb-preview ec-image-preview"
                                      src="/assets/img/products/vender-upload-thumb-preview.jpg" alt="edit" />
                                  </div>
                                </div>
                              </div>

                              <div class="thumb-upload">
                                <div class="thumb-edit">
                                  <input type="file" id="thumbUpload03" class="ec-image-upload"
                                    accept=".png, .jpg, .jpeg" name="images"
                                    value="<%= product.images[4]?`/productimages/${product.images[4]}`:'' %>" />
                                  <label for="imageUpload"><img src="/assets/img/icons/edit.svg"
                                      class="svg_img header_svg" alt="edit" /></label>
                                </div>
                                <div class="thumb-preview ec-preview">
                                  <div class="image-thumb-preview">
                                    <img class="image-thumb-preview ec-image-preview"
                                      src="/assets/img/products/vender-upload-thumb-preview.jpg" alt="edit" />
                                  </div>
                                </div>
                              </div>

                              <div class="thumb-upload">
                                <div class="thumb-edit">
                                  <input type="file" id="thumbUpload03" class="ec-image-upload"
                                    accept=".png, .jpg, .jpeg" name="images"
                                    value="<%= product.images[5]?`/productimages/${product.images[5]}`:'' %>" />
                                  <label for="imageUpload"><img src="/assets/img/icons/edit.svg"
                                      class="svg_img header_svg" alt="edit" /></label>
                                </div>
                                <div class="thumb-preview ec-preview">
                                  <div class="image-thumb-preview">
                                    <img class="image-thumb-preview ec-image-preview"
                                      src="/assets/img/products/vender-upload-thumb-preview.jpg" alt="edit" />
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="ec-vendor-upload-detail">
                          <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Product name</label>
                            <input type="text" class="form-control slug-title" id="inputEmail4" name="title"
                              value="<%= product.title %> " />
                          </div>
                          <div class="col-md-6">
                            <label class="form-label">Select Categories</label>
                            <select name="category" id="Categories" class="form-select">

                              
                              <% category.forEach(e => { %>
                                <option value="<%= e.title %> " <%=product.category== e.title ?'selected':'' %> ><%= e.title %> </option>
                              <% }) %>
                              
                            </select>
                          </div>
                          <div class="col-md-12">
                            <label for="brand" class="col-12 col-form-label">Brand</label>
                            <div class="col-12">
                              <input name="brand" class="form-control" type="text" value="<%= product.brand %>" />
                            </div>
                          </div>
                          <div class="col-md-12">
                            <label class="form-label">Short Description</label>
                            <textarea class="form-control" rows="2"
                              name="shortdescription"><%= product.shortdescription %></textarea>
                          </div>
                          <!-- <div class="col-md-4 mb-25">
                                          <label class="form-label">Colors</label>
                                          <input type="color" class="form-control form-control-color"
                                              id="exampleColorInput1" value="#ff6191"
                                              title="Choose your color">
                                          <input type="color" class="form-control form-control-color"
                                              id="exampleColorInput2" value="#33317d"
                                              title="Choose your color">
                                          <input type="color" class="form-control form-control-color"
                                              id="exampleColorInput3" value="#56d4b7"
                                              title="Choose your color">
                                          <input type="color" class="form-control form-control-color"
                                              id="exampleColorInput4" value="#009688"
                                              title="Choose your color">
                                      </div> -->
                          <div class="col-md-8 mb-25">
                            <label class="form-label">Size</label>
                            <div class="form-checkbox-box">
                              <div class="form-check form-check-inline">
                                <input type="checkbox" name="size" value="small" <%=product.size.includes('small')
                                  ?'checked':'' %>/>
                                <label>S</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input type="checkbox" name="size" value="medium" <%=product.size.includes('medium')
                                  ?'checked':'' %>/>
                                <label>M</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input type="checkbox" name="size" value="large" <%=product.size.includes('large')
                                  ?'checked':'' %>/>
                                <label>L</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input type="checkbox" name="size" value="xlarge" <%=product.size.includes('xlarge')
                                  ?'checked':'' %>/>
                                <label>XL</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input type="checkbox" name="size" value="xxlarge" <%=product.size.includes('xxlarge')
                                  ?'checked':'' %> />
                                <label>XXL</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <label class="form-label">Price </label>
                            <input type="number" class="form-control" id="price1" name="price"
                              value="<%= product.price %>" />
                          </div>
                          <div class="col-md-6">
                            <label class="form-label">Quantity</label>
                            <input type="number" class="form-control" id="quantity1" name="quantity"
                              value="<%= product.quantity %>" />
                          </div>
                          <div class="col-md-12">
                            <label class="form-label">Full Detail</label>
                            <textarea class="form-control" rows="4"
                              name="fulldetails"><%= product.fulldetails %></textarea>
                          </div>
                          <div class="col-md-12">
                            <label class="form-label">Product Tags
                              <span>( Type and make comma to separate tags )</span></label>
                            <input type="text" class="form-control" id="group_tag" name="group_tag"
                              value="<%= product.group_tag %>" placeholder="" data-role="tagsinput" />
                          </div>
                          <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">
                              Submit
                            </button>
                          </div>
                          <!-- </form> -->
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Content -->
      </div>
      <!-- End Content Wrapper -->

      <%- include('partials/foot.ejs') %>