<%- include('partials/__head.ejs') %> 
<%- include('partials/__header.ejs') %>

<section class="h-100 gradient-custom">
    <div class="container  h-100" >
      <div class="row d-flex  h-100 justify-content-center align-items-center">
        
        <div class="col-lg-10 col-xl-8 ">
          <div class="card">
            <div class="card-header px-4 py-5">
              <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #a8729a;"><%= user.name %> </span>!</h5>
            </div>
            <div class="card-body p-4">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0" style="color: #a8729a;">Order</p>
                <p class="small text-muted mb-0">Order ID: <%= order._id %> </p>
              </div>
              <% orderItems.forEach(e => { %>
               
              
              <div class="card shadow-0 border mb-4" >
                <div class="card-body" >
                  <div class="row">
                    <div class="col-md-2">
                      <img src="/productimages/<%= e.product[0].thumbnail %>"
                        class="img-fluid" alt="Phone">
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0"><%= e.product[0].title %> </p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small"><%= e.product[0].brand %></p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small"><%= e.product[0].shortdescription %></p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Qty:<%= e.products.quantity %></p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small"><%= e.product[0].price*e.products.quantity %></p>
                    </div>
                  </div>
                  <!-- <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                  <div class="row d-flex align-items-center">
                    <div class="col-md-2">
                      <p class="text-muted mb-0 small">Track Order</p>
                    </div>
                    <div class="col-md-10">
                      <div class="progress" style="height: 6px; border-radius: 16px;">
                        <div class="progress-bar" role="progressbar"
                          style="width: 65%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="65"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="d-flex justify-content-around mb-1">
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for delivary</p>
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
              <% }) %>
              
  
              <div class="d-flex justify-content-between pt-2">
                <p class="fw-bold mb-0">Order Details</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> <%= order.total %>  </p>
              </div>
              <% let date=order.purchaseDate.toString() %>
              <div class="d-flex justify-content-between">
                <p class="text-muted mb-0">Ordered Date : <%= date.slice(0,16) %> </p>
                
              </div>
  
              
            </div>
            
            <div class="card-footer border-0 px-4 py-5">
              <div class="ec-trackorder-bottom">
              <div class="ec-progress-track">
                <ul id="ec-progressbar">
                    <li class="step0 <%= order.status=='Placed'?'active':'' %><%= order.status=='Shipped'?'active':'' %><%= order.status=='Designing'?'active':'' %><%= order.status=='Out for delivery'?'active':'' %><%= order.status=='Delivered'?'active':'' %>"><span class="ec-track-icon"> <img
                                src="assets/images/icons/track_1.png" alt="track_order"></span><span
                            class="ec-progressbar-track"></span><span class="ec-track-title">order
                            <br>placed</span></li>
                    <li class="step0 <%= order.status=='Designing'?'active':'' %><%= order.status=='Shipped'?'active':'' %><%= order.status=='Out for delivery'?'active':'' %><%= order.status=='Delivered'?'active':'' %>"><span class="ec-track-icon"> <img
                                src="assets/images/icons/track_2.png" alt="track_order"></span><span
                            class="ec-progressbar-track"></span><span class="ec-track-title">order
                                <br>designing</span></li>
                    <li class="step0 <%= order.status=='Shipped'?'active':'' %><%= order.status=='Out for delivery'?'active':'' %><%= order.status=='Delivered'?'active':'' %>"><span class="ec-track-icon"> <img
                                src="assets/images/icons/track_3.png" alt="track_order"></span><span
                            class="ec-progressbar-track"></span><span class="ec-track-title">order
                                <br>shipped</span></li>
                    <li class="step0 <%= order.status=='Out for delivery'?'active':'' %><%= order.status=='Delivered'?'active':'' %>"><span class="ec-track-icon"> <img
                                src="assets/images/icons/track_4.png" alt="track_order"></span><span
                            class="ec-progressbar-track"></span><span class="ec-track-title">order <br>Out for delivery</span></li>
                    <li class="step0 <%= order.status==='Delivered'?'active':'' %>"><span class="ec-track-icon"> <img
                                src="assets/images/icons/track_5.png" alt="track_order"></span><span
                            class="ec-progressbar-track"></span><span class="ec-track-title">order
                                <br>arrived</span></li>

                </ul>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<%- include('partials/__foot.ejs') %>